*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
  background-image: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat; }

.logo {
  height: 3.25rem;
  margin-left: 2.75rem; }

.search {
  flex: 0 0 42.5%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: 1.6rem;
    color: inherit;
    background-color: #f4f2f2;
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 92.5%;
    transition: all .3s;
    margin-right: -2.75rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: #f0eeee; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #ccc; }
  .search__input:focus + .search__button {
    background-color: #f0eeee; }
  .search__button {
    border: none;
    background-color: #f4f2f2; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: grey-dark_3; }

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  margin-right: .25rem; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%; }
  .user-nav > *:hover {
    background-color: #f4f2f2; }
  .user-nav__icon-box {
    display: flex;
    align-items: center;
    border-radius: 5px;
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: #777; }
  .user-nav__user {
    display: flex;
    align-items: center; }
    .user-nav__user-photo {
      height: 3.5rem;
      border-radius: 50%;
      margin-right: 0.75rem; }
  .user-nav__notification {
    font-size: .8rem;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: #eb2f64;
    color: #fff;
    position: absolute;
    top: 1.35rem;
    right: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    .user-nav__notification-1 {
      right: 1.4rem;
      top: 1.5rem; }

.side-nav {
  font-size: 1.5rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #eb2f64;
    transition: transform 0.175s, width 0.35s 0.175s cubic-bezier(1, 0, 0, 0.75);
    filter: .2s;
    transform: scaleY(0); }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__item:active::before {
    filter: brightness(110%); }
  .side-nav__link:link, .side-nav__link:visited {
    color: #faf9f9;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative; }
  .side-nav__icon {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: #ccc; }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f4f2f2; }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    padding: 1.5rem 3rem; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center; }
    .overview__location-icon {
      margin-right: .25rem; }
  .overview__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: #eb2f64; }
  .overview__rating {
    background-color: #FF3366;
    color: #fff;
    margin-left: 3rem;
    padding: 0 2.25rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    .overview__rating-count {
      font-size: .8rem;
      text-transform: uppercase; }
    .overview__rating-avarage {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -2px; }

.button--inline {
  border: none;
  border-bottom: 1px solid currentColor;
  color: #eb2f64;
  font-size: inherit;
  transition: all .2s;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer; }
  .button--inline:hover {
    color: #333; }
  .button--inline:focus {
    outline: none;
    animation: pulse 1s infinite; }

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1.2rem 1.75rem rgba(0, 0, 0, 0.35); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: 1px solid #f4f2f2;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
    display: flex;
    align-items: center; }
    .list__item::before {
      content: "";
      display: inline-block;
      height: 1.25rem;
      width: 1.25rem;
      margin-right: .5rem;
      background-color: #eb2f64;
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover; }

.recommend {
  font-size: 1.3rem;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .recommend__photo {
    box-sizing: content-box;
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    border: 3px solid #faf9f9; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.7rem; }

.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: #faf9f9;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  min-height: 60rem; }

.header {
  height: 7rem;
  background-color: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.content {
  display: flex; }

.sidebar {
  background-color: #333;
  flex: 0 0 17%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  background-color: #fff;
  flex: 1; }

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: #faf9f9;
  border-bottom: 1px solid #f4f2f2; }

.description {
  background: white;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  font-size: 1.4rem; }

.user-reviews {
  background: white;
  flex: 1; }
