// HEADER
.logo{
    height: 3.25rem;
    margin-left: 2.75rem;
}

.search{
    flex: 0 0 42.5%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 31.25em){
        order: 1;
        flex: 0 0 100%;
        background-color: $grey-light_2;
    }

    &__input{
        font-family: inherit;
        font-size: 1.6rem;
        color:inherit;
        background-color: $grey-light_2;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 92.5%;
        transition: all .3s;
        margin-right: -2.75rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: $grey-light_3;
        }

        &::-webkit-input-placeholder{
            font-weight: 100;
            color:$grey-light_4;
        }
    }

    &__input:focus + &__button{
        background-color: $grey-light_3;
    }

    &__button{
        border:none;
        background-color: $grey-light_2;
        
        &:focus{
            outline: none;
        }

        &:active{
            transform: translateY(2px);
        }
    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: grey-dark_3;
    }
}


.user-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    margin-right: .25rem;

    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height:100%;
    }

    & > *:hover{
        background-color: $grey-light_2;
    }

    &__icon-box{
        display: flex;
        align-items: center;
        border-radius: 5px;
        position: relative;
    }

    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill:$grey-dark_2;
    }

    &__user{
        display: flex;
        align-items: center;

        &-photo{
            height:3.5rem;
            border-radius: 50%;
            margin-right: 0.75rem;
        }
    }

    &__notification{
        font-size: .8rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 50%;
        background-color: $primary;
        color:#fff;
        position: absolute;
        top:1.35rem;
        right: 0.9rem;

        display: flex;
        justify-content: center;
        align-items: center;

        &-1{
            right: 1.4rem;
            top:1.5rem;
        }
    }
}

// NAVIGATION

.side-nav{
    font-size: 1.5rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item{
        position: relative;
        text-align: center;
        
        @media only screen and (max-width: 56.25em){
            flex: 1;
        }

        &:not(:last-child){
            margin-bottom: .5rem;

            @media only screen and (max-width: 56.25em){
                margin-bottom: 0;
            }
        }
    }

    &__item::before{
        content: "";
        position: absolute;
        top:0;
        left:0;
        height:100%;
        width:3px;
        background-color: $primary;
        transition: transform .175s,
                    width .35s .175s cubic-bezier(1,0,0,.75);
                    filter: .2s;
        transform: scaleY(0);
    }

    &__item:hover::before,
    &__item--active::before{
        transform: scaleY(1);
        width: 100%;
    }

    &__item:active::before{
         filter: brightness(110%);
    }

    &__link:link,
    &__link:visited {
        color: $grey-light_1;
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        z-index: 10;
        position: relative;
        
        @media only screen and (max-width: 56.25em){
            justify-content: center;
        }

        @media only screen and (max-width: 37.5em){
            flex-direction: column;
        }
    }

    &__icon{
        width: 2rem;
        height: 2rem;
        margin-right: 1.5rem;
        fill: currentColor;

        @media only screen and (max-width: 37.5em){
            margin-right: .2rem;
            margin-bottom: .4rem;
        }
    }

    @media only screen and (max-width: 56.25em){
        display: flex;
        margin: 0;
    }
}

.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: $grey-light_4;

    @media only screen and (max-width: 56.25em){
        display: none;
    }
}

// HOTEL VIEW

.gallery{
    display: flex;

    &__photo{
        width: 100%;
        display: block;
    }
}

.overview{
    display: flex;
    align-items: center;
    border-bottom: 1px solid $grey-light_2;

    &__heading{
        font-size: 2.25rem;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        padding: 1.5rem 3rem;

        @media only screen and (max-width: 37.5em){
            font-size: 1.8rem;
            padding: 1rem 2rem;
        }

        @media only screen and (max-width: 25em){
            padding: .5rem 1rem;
            text-align: center;
        }   
    }

    &__stars{
        margin-right: auto;
        display: flex;

        @media only screen and (max-width: 25em){
            flex-direction: column;
        }    
    }

    &__location{
        font-size: 1.2rem;
        display: flex;
        align-items: center;

        &-icon{
            margin-right: .25rem;

            @media only screen and (max-width: 25em){
                display: none;
            }   
        }

        @media only screen and (max-width: 25em){
            font-size: 1rem;
        }   
    }

    &__icon{
        width:1.75rem;
        height:1.75rem;
        fill: $primary;

        @media only screen and (max-width: 37.5em){
            width: 1.25rem;
            height: 1.25rem;
        }

        @media only screen and (max-width: 25em){
            width:1rem;
            height:1rem;
        }   
    }

    &__rating{
        background-color: $primary-light;
        color:#fff;
        margin-left: 3rem;
        padding: 0 2.25rem;
        align-self: stretch;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media only screen and (max-width: 37.5em){
            padding: 0 1.5rem;
            margin-left: 2rem;
        }

        @media only screen and (max-width: 25em){
            margin-left: .5rem;
        }   

        &-count{
            font-size: .8rem;
            text-transform: uppercase;

            @media only screen and (max-width: 37.5em){
                font-size: .6rem;
            }
        }

        &-avarage{
            font-size: 2.25rem;
            font-weight: 300;
            margin-bottom: -2px;

            @media only screen and (max-width: 37.5em){
                font-size: 2rem;
            }
        }
    }
}

// BUTTON

.button--inline{
    border: none;
    border-bottom:1px solid currentColor;
    color: $primary;
    font-size: inherit;
    transition: all .2s;
    padding-bottom: 2px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;

    &:hover{
        color: $grey-dark_1;

        & span{
            margin-left: 8px;
        }
    }

    &:focus{
        outline: none;
        animation: pulse 1s infinite;
    }

    & span{
        margin-left: 3px;
        transition: margin-left .2s;
    }
}

@keyframes pulse{
    0%{
        transform: scale(1);
        box-shadow: none;
    }

    50%{
        transform: scale(1.05);
        box-shadow: 0 1.2rem 1.75rem rgba(0,0,0,.35);
    }

    100%{
        transform: scale(1);
        box-shadow: none;
    }
}   

// PARAGRAPH

.paragraph:not(:last-of-type){
    margin-bottom: 2rem;
}

// LIST

.list{
    margin: 3rem 0;
    list-style: none;
    padding: 3rem 0;
    border-top: 1px solid $grey-light_2;
    border-bottom: 1px solid $grey-light_2;
    display: flex;
    flex-wrap: wrap;

    &__item{
        flex: 0 0 50%;
        margin-bottom: .7rem;
        display:flex;
        align-items: center;

        &::before{
            content: "";
            display: inline-block;
            height: 1.25rem;
            width: 1.25rem;
            margin-right: .5rem;
            background-color: $primary;
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-size: cover;
            mask-image: url(../img/chevron-thin-right.svg);
            mask-size: cover;
        }
    }
}


// RECOMEND

.recommend{
    font-size: 1.3rem;
    color:$grey-dark_3;
    display:flex;
    align-items: center;
    justify-content: space-between;

    &__friends{
        display: flex;
    }

    &__photo{
        box-sizing: content-box;
        height: 4.2rem;
        width: 4.2rem;
        border-radius: 50%;
        border:3px solid $grey-light_1;

        &:not(:last-child){
            margin-right: -1.9rem;
        }
    }
}

// REVIEWS

.review{
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.1);
    padding:3rem;
    margin-bottom: 3.5rem;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    
    @media only screen and (max-width: 56.25em){
        padding: 1.5rem;
        margin-bottom: 1.75rem;
    }

    &__text{
        margin-bottom: 2rem;
        z-index: 2;
        position: relative;
    }

    &__user{
        display: flex;

        &-box{
            margin-right: auto;
            display: flex;  
            justify-content: center;
            flex-direction: column;
        }

        &-name{
            font-weight: 600;
            font-size: 1.1rem;
            text-transform: uppercase;
            margin-bottom: .4rem;
        }

        &-date{
            font-size: 1rem;
            color:$grey-dark_3;
        }
    }

    &__photo{
        width:4.5rem;
        height:4.5rem;
        border-radius: 50%;
        margin-right: 1.5rem;
    }

    &__rating{
        align-self: center;
        font-size: 2.2rem;
        font-weight: 300;
        color:$primary;
    }

    &::before{
        content:"\201C";
        font-size: 20rem;
        position: absolute;
        top:-2.75rem;
        left:-1rem;
        line-height: 1;
        color:$grey-light_2;
        font-family: sans-serif;
        z-index: 1;
    }
}

// CTA

.cta{
    padding:3.5rem;
    text-align: center;

    &__book-now{
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 300;
        margin-bottom: 2.5rem;
    }

    @media only screen and (max-width: 56.25em){
        padding: 2rem;
    }
}

// BUTTON

.btn{
    font-size: 1.5rem;
    border:none;
    border-radius: 100px;
    text-transform: uppercase;
    font-weight: 300;
    background-image: linear-gradient(to right, $primary-light, $primary-dark);
    color:#fff;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &__visible{
        display: inline-block;
        padding: 2rem 5rem;
        transition: all .2s;
        width: 100%;
        height: 100%;
    }

    &__hidden{
        display: inline-block;
        position: absolute;
        left:0;
        top:-100%;
        padding: 2rem 0;
        height: 100%;
        width: 100%;
        transition: all .2s;
    }

    &:hover{
        background-image: linear-gradient(to left, $primary-light, $primary-dark);
    }

    &:hover &__visible{
        transform: translateY(100%);
    }

    &:hover &__hidden{
        top:0;   
    }

    &:focus{
        outline: none;
        animation: pulse 1s infinite;
    }
}