.container{
    max-width: 120rem;
    margin: 8rem auto;
    background-color: $grey-light_1;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, .3);
    border-radius: 5px;

    min-height: 60rem;
}

.header{
    height:7rem;
    background-color: #fff;
    border-bottom: 1px solid $grey-light_2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content{
    display: flex;
}

.sidebar{
    background-color: $grey-dark_1;
    flex:0 0 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view{
    background-color: #fff;
    flex: 1;
}

.detail{
    display:flex;
    padding: 4.5rem;
    background-color: $grey-light_1;
    border-bottom: 1px solid $grey-light_2;
    font-size: 1.4rem;
}

.description{
    background: white;
    flex: 0 0 60%;
    margin-right: 4.5rem;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.1);
    padding: 3rem;
}

.user-reviews{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}